body {
  margin: 0;
}

header {
  display: block;
  position: fixed;
  width: 100%;
  height: 68px;
  background-color: #fff;
}

.title {
  display: inline-block;
  margin: 0;
  padding: 20px;
  font-size: 25px;
  font-weight: bolder;
}

.title a:link {
  color: black;
  text-decoration: none;
}

.title a:visited {
  color: black;
  text-decoration: none;
}

.menu-icon {
  display: inline-block;
  float: right;
  padding: 30px 35px;
}

.hambug-icon {
  background-color: #333;
  display: block;
  width: 18px;
  height: 2px;
  position: relative;
  transition: background .2s ease-in-out;
}

.hambug-icon:before, .hambug-icon:after {
  width: 100%;
  height: 100%;
  background-color: #333;
  display: block;
  content: '';
  position: absolute;
  transition: all .2s ease-in-out;
}

.hambug-icon:before {
  top: -5px;
}

.hambug-icon:after {
  top: 5px;
}

.hambug-icon.active {
  background: transparent;
}

.hambug-icon.active:before {
  transform: rotate(-45deg);
  top: 0;
}

.hambug-icon.active:after {
  transform: rotate(45deg);
  top: 0;
}

.sub-menu{
  list-style: none;
  padding: 0px;
  margin: 0px 30px;
  width: 250px;
  display: block;
  float: right;
  background-color: #f9f9f9;
  clear: both;
  position: relative;
  top: -10px;

  overflow: hidden;
  max-height: 0;
  transition: max-height .2s ease-in-out;
}

.sub-menu a li, .sub-menu li {
  margin: 0px;
  padding: 20px;
  font-size: 17px;
  border-bottom: 1px solid #fff;
}

.sub-menu li:hover {
  background-color: #edf0f3;
}

.sub-menu a:link {
  color: black;
  text-decoration: none;
}

.sub-menu a:visited {
  color: black;
  text-decoration: none;
}

.sub-menu.active {
  max-height: 300px;
  z-index: 3;
}

section {
  display: block;
  padding: 20px;
}

section .upper-block {
  margin-top: 60px;
}

section p {
  /* margin-top: 10px; */
  /* padding: 5px; */
  line-height: 1.4rem;
  text-align: justify;
}

section .border {
  border: 1.5px solid #555;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 7px;
}

/* Generator.js */
.row {
  display: inline-block;
  width: 95%;
  
  margin-bottom: 10px;
}

.item {
  display: block;
  width: auto;
  float: left;

  margin-top: 25px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.input-box, .select-box {
  display: block;
  width: 250px;
  line-height: 25px;
  padding: 5px;
  margin-top: 5px;

  border: 1px solid lightgray;
  border-radius: 5px;
}

.input-box:focus , .select-box:focus {
  outline: none;
  border: 1px solid #fd999a;
}

.select-box {
  appearance: none;
  width: 262px;
}

.btn {
  color: #fd999a;
  width: 110px;
  height: 40px;
  border: 1px solid #fd999a;
  font-weight: bolder;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
  background-color: white;
}

.btn:hover {
  background-color: #fd999a;
  color: white;
  border: none;
}

.btn:focus {
  outline: none;
  /* color: palevioletred;
  border: 1px solid palevioletred;  */
}

.result-area {
  margin-top: 30px;
  display: block;
  width: auto;
  height: fit-content;
  background-color: #f4f5f6;
  padding: 15px;
  color: #555;
  line-height: 2em;
}